*{box-sizing: border-box; padding: 0px; margin: 0px;}

        body{
            color: black;
            font-size: small;
            text-align: center;
        }

        a{
            text-decoration: none;
            color: black;
        }

        .div1{background-image: url(data/dnd/2025__1.png);
        background-size: 300px 380px;
        background-repeat: no-repeat;
        
        position: relative;
    }
        .div2{background-image: url(data/dnd/2025__2.png);
        background-size: 300px 380px;
        background-repeat: no-repeat;
        
        position: relative;
    }
        .div3{background-image: url(data/dnd/2025__3.png);
        background-size: 300px 380px;
        background-repeat: no-repeat;
        
        position: relative;
    }
        .div4{background-image: url(data/dnd/2025__4.png);
        background-size: 300px 380px;
        background-repeat: no-repeat;
        
        position: relative;
    }
        .div5{background-image: url(data/dnd/2025__5.png);
        background-size: 300px 380px;
        background-repeat: no-repeat;
        
        position: relative;
    }
        .div6{background-image: url(data/dnd/2025__6.png);
        background-size: 300px 380px;
        background-repeat: no-repeat;
        
        position: relative;
        color: black;
    }
    .top{
        width: 290px;
        height: 60px;

    }
    .headimg{
        width: 63px;
        height: 61px;
    }
    .first{
        width: 38%;
    }
